.FormLoginConteiner {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 60px;
  margin-top: 100px;
}

.form {
  height: 400px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 7px 7px #06ee89;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.input-container input{ 
  border: none;
  border-bottom: 1px solid #06ee89;  
  background: transparent;
  font-size: 16px;
  color: white;
  max-height: 30px;
  min-height: 30px;
  max-width: 200px;
  margin: 5px;
  min-width: 60px;
}

.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #06ee89;	
}

button:disabled {
  color: white;
  border: none;
  background-color: #666665;
  border-radius: 5px;
  max-height: 40px;
  min-height: 40px;
  max-width: 83px;
  min-width: 60px;
  font-weight: 900;
  font-size: 15px;
}

button:enabled {
  color: #313131;
  border: none;
  background-color: #06ee89;
  border-radius: 5px;
  max-height: 80px;
  min-height: 40px;
  max-width: 83px;
  min-width: 60px;
  font-weight: 900;
  font-size: 15px;
}
