.formSearch {
  align-items: center;
  display: flex;
  height: 20vw;
  justify-content: center;
  width: 100%;
}

.inputSearch {
  background: transparent;
  border: none;
  border-bottom: 1px solid #06ee89;
  color: white;
  font-size: 30px;
  height: 40px;
  margin: 10px;
  width: 400px;
}

.inputSearch:focus {
  border: none;
  border-bottom: 1px solid #06ee89;
  outline: none;
}

.text {
  color: #06ee89;
}
