.FormLoginConteiner {
  align-items: center;
  display: flex;
  height: 40vw;
  justify-content: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.Albums {
  border: black 1px solid;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 200px;
  min-width: 200px;
  text-align: center;
}
